//META{"name":"GISepTitlebarAndBG","description":"Allows for seperate titlebar background colors and seperate background images for the light and dark themes.","author":"CompletelyUnbelievable","version":"1.1","source":"https://github.com/CompletelyUnbelievable/ThemeResource/edit/master/GeneralImprovements","website":"https://git.io/vhWjm"}*//
@import url("https://completelyunbelievable.github.io/BDAddons/Themes/TransparencyQuick/Import/TransparencyQuick.css");
@import url("https://completelyunbelievable.github.io/BDAddons/Themes/TransparencyQuick/Import/Builder/Legacy.css");


/*
My Transparency Quick theme has a variation of content improvements and Titlebar fix from my ThemeResource. See both of those snippets with the links below or mess around with what it offers by changing the CSS variables below:

https://github.com/CompletelyUnbelievable/ThemeResource/blob/master/GeneralImprovements/ContentImprovements.theme.css

https://github.com/CompletelyUnbelievable/ThemeResource/blob/master/Titlebar/TitlebarFix.theme.css
*/

:root {
	--TQDarkBackground: url("https://i.imgur.com/PnSeZX3r.jpg");
	--TQLightBackground: url("https://i.imgur.com/QguApMA.jpg");
	--TQDarkTitlebarColor: #333333;
	--TQLightTitlebarColor: #000000;
	--TQFallbackColor: #000000;
	--TQBackgroundFill: cover;
	--TQdim: rgba(79,84,92,0.5);
	--TQcardDim: rgba(79,84,92,0.5); 
}
