#app-mount > div.tooltips div.tooltip-right.tooltip-red {
    font-size: 0;
}

#app-mount > div.tooltips div.tooltip-right.tooltip-red strong:before {
    font-size: 14px;
    content: "There are ";
}


#app-mount > div.tooltips div.tooltip-right.tooltip-red strong {
    font-size: 14px;
}

#app-mount > div.tooltips div.tooltip-right.tooltip-red strong:after {
    font-size: 14px;
    content: " Guild(s) with outages. You idiot.";
}
