//META{"name":"ChangeOutage","description":"Changes the exclamation point in Discord guild outages to the Better Discord logo. It's sad if you see this often enough that you want to be able to change it.","author":"CompletelyUnbelievable","version":"1.0","source":"https://github.com/CompletelyUnbelievable/ThemeResource","website":"https://git.io/vhWjm"}*//

/*For changing the guild outage exclamation point to a different image or text.
Change to "background-image: transparent;" if you don't want to have a background image.
Change content to whatever you want the text to be, might not fit unless you modify the font size.*/
.guilds-wrapper .guilds-error::after {
    font-size: 20px;
    content: "";
    background-image: url("https://raw.githubusercontent.com/CompletelyUnbelievable/ThemeResource/master/GuildsBar/Images/BDLogo.png");
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: center; 
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
}

.guilds-wrapper .guilds-error {
    font-size: 0; /*Hides exclamation point*/
}


/*For changing the guild outage tool tip text.*/
#app-mount > div.tooltips div.tooltip-right.tooltip-red {
    font-size: 0; /*Removes the old tooltip text.*/
}

#app-mount > div.tooltips div.tooltip-right.tooltip-red strong:before {
    font-size: 14px;
    content: "There are "; /*Text before the number of guilds with outages.*/
}

#app-mount > div.tooltips div.tooltip-right.tooltip-red strong {
    font-size: 14px; /*default is 14px, change to 0px if you dont want the number of guilds with outages to be visable.*/
}

#app-mount > div.tooltips div.tooltip-right.tooltip-red strong:after {
    font-size: 14px;
    content: " Guild(s) with outages."; /*Text after the number of guilds with outages.*/
}
