//META{"name":"HalfSizedGuildsBar","description":"Decreases everything within the guilds area by about half.","author":"CompletelyUnbelievable","version":"1.0","source":"https://github.com/CompletelyUnbelievable/ThemeResource","website":"https://git.io/vhWjm"}*//

.da-guildsWrapper .da-iconSizeLarge, .da-guildsWrapper .da-guilds .guild-1EfMGQ:not(#bd-pub-li), .da-guildsWrapper .da-guilds .guild-1EfMGQ:not(#bd-pub-li) .da-guildInner a, .da-guildsWrapper .da-guilds .da-homeIcon {
	height: 25px; /*50px*/
	width: 25px; /*50px*/
}

.da-guildsWrapper .da-guilds .guild-1EfMGQ:not(#bd-pub-li) .da-guildInner a {
	background-size: 100% 100%; /*NA*/
	background-repeat: no-repeat; /*NA*/
	text-align: center; /*NA*/
	vertical-align: middle; /*NA*/
}

.da-guildsWrapper {
	width: 45px; /*70px*/
}

.da-guildsWrapper .da-guilds .da-homeIcon {
	background-size: 16px 14px; /*32px 28px*/
}

.da-guildsWrapper .da-guilds .da-friendsOnline {
	width: 25px; /*50px*/
	font-size: 5px; /*10px*/
}

.da-guildsWrapper .da-guildSeparator {
	width: 25px /*50px*/
}

.da-guildsWrapper .da-guildsAddInner {
	font-size: 25px; /*100%*/
	text-align: center; /*NA*/
	vertical-align: middle; /*NA*/
	top: -18px; /*-1px*/
}

.da-guildsWrapper .da-guilds .guild-1EfMGQ:not(#bd-pub-li) .da-guildInner {
	line-height: 25px; /*50px*/
}

.da-guildsWrapper .badge-1GsMF2 {
	font-size: 6px; /*12px*/
	line-height: 6px; /*12px*/
	padding: 1.5px 3px; /*3px 6px*/
}

.da-guildsWrapper .da-guilds .guild-1EfMGQ.unread-qLkInr:before { /**/
	height: 5px; /*10px*/
	margin-top: -3px; /*-6px*/
}

.da-guildsWrapper .da-guilds .guild-1EfMGQ.selected-ML3OIq:before {
	height: 20px; /*40px*/
	margin-top: -10px; /*-20px*/
}

.da-guildsWrapper .da-guildsError {
	font-size: 10px; /*20px*/
	width: 25px; /*50px*/
	height: 25px; /*50px*/
	line-height: 23px; /*46px*/
}

.da-guildsWrapper .da-unreadMentionsIndicatorBottom, .da-guildsWrapper .da-unreadMentionsIndicatorTop {
	height: 10px; /*20px*/
}

.da-guildsWrapper .da-unreadMentionsIndicatorBottom .bar-30k2ka, .da-guildsWrapper .da-unreadMentionsIndicatorTop .bar-30k2ka {
	font-size: 5px; /*11px*/
	height: 10px; /*20px*/
	line-height: 7px /*14px*/
}

.da-guildsWrapper .icon-2aINcz { 
	height: 6px; /*12px*/
	width: 6px; /*12px*/
}

.da-guildsWrapper .da-guilds .guild-1EfMGQ.audio-3vVhBi .da-guildInner:after, .da-guildsWrapper .da-guilds .guild-1EfMGQ.video-15yGu3 .da-guildInner:after {
	background-size: 8px; /*16px*/
	height: 12px; /*24px*/
	width: 12px; /*24px*/
	right: -3px; /*-6px*/
	top: -3px; /*-6px*/
}

.da-noIcon.da-iconSizeLarge {
	line-height: 25px; /*50px*/
}

.da-guildsWrapper .da-scrollerWrap {
	width: 44px; /*88px*/
}

.da-appMount .da-guildsWrapper .da-scrollerWrap .da-scroller::-webkit-scrollbar {
	width: 0px; /*14*/
}



/*These must have "!important" in order to work.*/

#bd-pub-li, #RANbutton-frame {
	height: 10px !important; /*20px*/
	width: 12.5px; /*25px*/
}

#bd-pub-li .da-guildInner, #RANbutton-frame .da-guildInner {
	height: 10px !important; /*20px*/
	width: 25px; /*25px*/
	overflow: visible;
}

#bd-pub-li .da-guildInner a, #RANbutton-frame .da-guildInner a {
	height: 25px; /*50px*/
	width: 25px; /*50px*/
}

#bd-pub-li #bd-pub-button, #RANbutton-frame #RANbutton {
	font-size: 6px !important; /*12px*/
	line-height: 10px !important; /*20px*/
}

.da-appMount .da-guildsWrapper > .da-unreadMentionsIndicatorTop > .unread-1xRYoj {
	transform: translateY(-300%) !important; /*-150%*/
}

.da-guildsWrapper > .da-unreadMentionsIndicatorTop > .active-1SSsBb {
	transform: translateY(0%) !important; /*0%*/
}

.da-guildsWrapper .da-guilds .guild-1EfMGQ:not(#bd-pub-li) .da-guildInner a {
	font-size: 7px !important; /*14px*/
}

.da-guildsWrapper .da-guilds .da-guildIcon {
	font-size: 9px !important; /*18px*/
}
