/*The blur on the text while it is not hovered*/
.da-appMount .da-userSettingsAccount div:nth-child(2) > div:nth-child(2) > .da-viewBody:not(:hover) {
	transition: filter 0.3s;
	filter: blur(6px);
}

/*The lack of blurring while the text is being hovered.*/
.da-appMount .da-userSettingsAccount div:nth-child(2) > div:nth-child(2) > .da-viewBody:hover {
	transition: filter 0.3s;
	filter: none;
}
