/*Hides Email completely.*/
#app-mount .userSettingsAccount-2eMFVR div:nth-child(2) > div:nth-child(2) > .viewBody-2Qz-jg {
	font-size: 0;
}

/*Replaces the Email Text with something else.*/
#app-mount .userSettingsAccount-2eMFVR div:nth-child(2) > div:nth-child(2) > .viewBody-2Qz-jg:after {
	content: "Name@Place.com";
	font-size: 14.7px;
}
